<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Secure Example</title>
    </head>
    <body>
        <!-- This remoteUser not working, maybe pom version issue -->
        <h1> Hello [[${#httpServletRequest.remoteUser}]] </h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>